<p>This is a silly little toy I thought up many years ago... then got around to
actually creating a few years ago... and added some polish and finally put it
out for public consumption just in time for my friend Tara's 42nd birthday
party.&nbsp; Hi Tara!</p>

<p>It's essentially Mad Libs for poetry.&nbsp; That's why it asks you for words
that fit not only a given part of speech, but a given number of syllables and
accent, and maybe also rhyme with another.&nbsp; The name comes from a name of a
race of aliens known for their horrible poetry, in
<%= link_to("The Hitchhiker's Guide to the Galaxy",
            "https://en.wikipedia.org/wiki/The_Hitchhiker%27s_Guide_to_the_Galaxy",
            target: "_new") %>,
by Douglas Adams.</p>

<p>Eventually I will document the template format, so you can submit
poems.&nbsp; Meanwhile, if you have <i>well known, short, public domain</i>
poems to suggest, you can contact me through <%= link_to "my web site",
"http://www.davearonson.com", target: "_new" %>.</p>

<p><b>DISCLAIMER: </b>this site is <i>not</i> in any way approved, endorsed,
etc., by Douglas Adams, his estate, his publisher(s), the relevant holder(s) of
the copyrights, trademarks, or other types of Intellectual Property, nor those
of Mad Libs.&nbsp; I believe this to be a permitted usage of both items (and
possibly any non-PD poems) under the parody provisions of the Fair Use
doctrine.</p>
