body {
  background-color: #efe;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2em;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

pre {
  background-color: #eee;
  padding: 1em;
  font-size: .9em;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 1em;
  }
}

h1, h2, h3, h4 { text-align: center }

h1.site-title {
  color: #080;
  line-height: 1.2em;
}

li { margin: .5em auto; }

#notice {
  color: green;
}

.field_with_errors {
  padding: .2em;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 30em;
  border: 2px solid red;
  padding: 0.5em;
  padding-bottom: 0;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 0.5em 0.5em 0.5em 1.5em;
    margin: -1em;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    list-style: square;
  }
}

.centered {
  display: table;
  margin: 0 auto;
}
